/**************
*Common*
***************/
body{
    font-family: Arial, sans-serif;
}

/**************
*Utility*
***************/
.bg_black{
    background-color: black;
}

.c_black{
    color: black!important;
}

.c_grey{
    color: #9D9D9D;
}

.btn.c_white{
    color: white!important;
}

.site_nav ul li a{
    color: black!important;  
    font-weight: 600;  
}




/**************
*Header*
***************/
.brand_header{
    height: 30px;
}

.logo{
    width: 100px;
    margin-right: 10px;
}

.dropdown-toggle::after {
    display: none;
}





